Client/TrainMobileModest/Android_ASTC/
Client/TrainMobileModest/Android_DXT/
Client/TrainMobileModest/Android_ETC1/
Client/TrainMobileModest/Binaries/
Client/TrainMobileModest/Debug/
Client/TrainMobileModest/DerivedDataCache/
Client/TrainMobileModest/HTML5/
Client/TrainMobileModest/HTTPchunks/
Client/TrainMobileModest/Intermediate/
Client/TrainMobileModest/Saved/
Client/TrainMobileModest/WindowsNoEditor/
Client/TrainMobileModest/Plugins/LuaProvider/Binaries/
Client/TrainMobileModest/Plugins/LuaProvider/Intermediate/
Client/TrainMobileModest/Plugins/TrainOnline/Binaries/
Client/TrainMobileModest/Plugins/TrainOnline/Intermediate/
Client/TrainMobileModest/TrainMobileModest.sdf
Client/TrainMobileModest/TrainMobileModest.VC.db
*.opendb
*.opensdf
*.suo
*.db
Client/TrainMobileModest/Content/GPCSZ/scene_gpcsz_BuiltData.uasset
Client/TrainMobileModest/Content/GPJLSZ/scene_gpjlsz_sub_tree_BuiltData.uasset
Client/TrainMobileModest/Content/GPJLSZ/scene_gpjlsz_sub_room_BuiltData.uasset
Client/TrainMobileModest/Content/GPJLSZ/scene_gpjlsz_sub_device_BuiltData.uasset
Client/TrainMobileModest/Content/GPJLSZ/scene_gpjlsz_sub_basic_BuiltData.uasset
Client/TrainMobileModest/Content/GPJLSZ/scene_gpjlsz_BuiltData.uasset
Client/TrainMobileModest/Content/GPPZYK/scene_gppzyk_BuiltData.uasset
Server/Server/htdocs/TrainMobileFile/FileDB