@charset "utf-8";
/* CSS Document */
/* background-color: #8bb7db;*/
body{padding:0; margin:0;color:#fff;}

.gp_bg img { width:100%; height:100%;  z-index:1; position:absolute;left:0px; top:0px;}
.kuang{ z-index:3; position:absolute;left:0px; top:0px;width:100%; height:100%; text-align:center}
.kuangin{  position:relative; z-index:3; width:1273px;   margin:0px auto 0px; text-align:left
}
.top{ height:133px; width:100%; background:url(kuang_05.png) no-repeat; text-align:center; font-size:44px; font-weight:bold; line-height:133px; letter-spacing:3px; color:#266ab1; text-shadow:1px 1px 1px #fff}
.content{height:630px; width:100%; background:url(kuang_08.png) no-repeat;  }

.contentin{ width:95%; margin:0 auto}
.conleft{ float:left; width:4px;}
.conright{ float:right; width:4px;}
.conin{ float:left; width:99%; }
.content ul.tou{ margin-left:0px;}
ul,li{ padding:0; margin:0; list-style:none; float:left}
.content .tou li{ width:191px; text-align:center; background:#74b3d5; border:1px solid #fff;box-shadow:inset 0 0 10px rgba(0,0,0,.4); height:60px; line-height:60px; font-size:34px; font-weight:bold; margin-left:4px}
.content .tou li.small{width:140px;}
.content .tou li.big{width:250px;}

.scroll{ width:100%; height:586px; overflow-y:auto; overflow-x: hidden; margin-top:10px; float:left; border-bottom:1px solid #b2b8bd}
.content ul{ margin-left:10px;}
.content  li{ width:204px; text-align:center; height:60px; line-height:60px; font-size:34px; font-weight:bold; margin-left:0px; text-align:center; position:relative}
.content  li.small{width:130px;}
.content  li.fontsmall{width:130px;font-size: 20px;white-space: nowrap;}
.content  li.big{width:250px;}
.content  li.last{width:176px; cursor:pointer}
.content  ul.select{border-bottom:1px solid #99c6ee; background:url(select.png) repeat-x; line-height:60px}
.content  .select li{ color:#fcff2a; text-shadow:1px 1px 1px #000,1px -1px 1px #000,-1px 1px 1px #000;}
.content ul.bordernone { border:none}
.content  li img{ vertical-align:middle; position:absolute; left: 11px;top: 17px;}

.content  .blue li{color:#3069ff; text-shadow:1px 1px 1px #fff,1px -1px 1px #fff,-1px 1px 1px #fff;}


.bottom{ height:130px; width:100%; background:url(kuang_11.png) no-repeat; text-align:center;  }
.button{ width:226px; height:73px; background:url(gp_button.png) no-repeat; text-align:center; font-size:36px; line-height:73px; border:none; color:#fff; font-weight:bold; margin-top:5px; margin-right:100px; text-shadow:1px 1px 1px #444 }

a:link {color:#fcff2a}
a:visited{color:#3069ff} 
a{text-decoration:none}

.div-height{border:1px solid #F00; width:130px; height:50px} 